/ghost/master/profile
/ghost/master/satori_savebackup.txt
/ghost/master/satori_savedata.txt
/shell/master/profile
/shell/youroR/profile
/shell/youroW/profile
/shell/master/Thumbs.db
/ghost/master/var
